<a href="https://colab.research.google.com/github/kharivignesh24-ai/ai-ml-tasks/blob/main/Day-04/Encoding_%26_Scaling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler

In [50]:
from google.colab import files
uploaded = files.upload()

Saving titanic.csv to titanic (3).csv

In [51]:
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [53]:
# Fill missing Age with median
df['Age'] = df['Age'].fillna(df['Age'].median())

# Fill missing Embarked with most frequent value
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

# Drop Cabin (too many missing values)
df.drop(columns=['Cabin'], inplace=True)

In [54]:
categorical_cols = df.select_dtypes(include='object').columns
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns

print("Categorical Columns:\n", categorical_cols)
print("\nNumerical Columns:\n", numerical_cols)

Categorical Columns:
 Index(['Name', 'Sex', 'Ticket', 'Embarked'], dtype='object')

Numerical Columns:
 Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [55]:
df.drop(columns=['Name', 'Ticket'], inplace=True)

In [56]:
le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])

In [57]:
df = pd.get_dummies(df, columns=['Embarked'], drop_first=True)

In [58]:
X = df.drop('Survived', axis=1)
y = df['Survived']

In [59]:
scaler = StandardScaler()

# Filter numerical_cols to only include columns present in X
numerical_cols_for_scaling = [col for col in numerical_cols if col in X.columns]

X[numerical_cols_for_scaling] = scaler.fit_transform(X[numerical_cols_for_scaling])

In [60]:
X[numerical_cols_for_scaling].describe()

,PassengerId,Pclass,Age,SibSp,Parch,Fare
count,8.910000e+02,8.910000e+02,8.910000e+02,8.910000e+02,8.910000e+02,8.910000e+02
mean,6.379733e-17,-8.772133e-17,2.272780e-16,4.386066e-17,5.382900e-17,3.987333e-18
std,1.000562e+00,1.000562e+00,1.000562e+00,1.000562e+00,1.000562e+00,1.000562e+00
min,-1.730108e+00,-1.566107e+00,-2.224156e+00,-4.745452e-01,-4.736736e-01,-6.484217e-01
25%,-8.650540e-01,-3.693648e-01,-5.657365e-01,-4.745452e-01,-4.736736e-01,-4.891482e-01
50%,0.000000e+00,8.273772e-01,-1.046374e-01,-4.745452e-01,-4.736736e-01,-3.573909e-01
75%,8.650540e-01,8.273772e-01,4.333115e-01,4.327934e-01,-4.736736e-01,-2.424635e-02
max,1.730108e+00,8.273772e-01,3.891554e+00,6.784163e+00,6.974147e+00,9.667167e+00

In [61]:
processed_df = X.copy()
processed_df['Survived'] = y

processed_df.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_Q,Embarked_S,Survived
0,-1.730108,0.827377,1,-0.565736,0.432793,-0.473674,-0.502445,False,True,0
1,-1.726220,-1.566107,0,0.663861,0.432793,-0.473674,0.786845,False,False,1
2,-1.722332,0.827377,0,-0.258337,-0.474545,-0.473674,-0.488854,False,True,1
3,-1.718444,-1.566107,0,0.433312,0.432793,-0.473674,0.420730,False,True,1
4,-1.714556,0.827377,1,0.433312,-0.474545,-0.473674,-0.486337,False,True,0

In [62]:
processed_df.to_csv("titanic_processed.csv", index=False)